@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    margin-top: 80px;

}

h1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#excuse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
    
}
img{
    display: flex;
    height: 40%;
    width: 40%;
    margin: auto;
}